/* <style> */
*{margin: 0; padding: 0;}
li,ul{list-style: none;}

.header-wh {
   min-width: 500px;
   max-width: 1170px;
}
.header{
   width: 100%;
   height: 113px;
   background-color: rgb(255, 255, 255);
   position: relative;
}
/* .header div{ display: inline-block; } */
.header-div {
   display: inline-block;
}
.header2 {
	position: relative;
}

.header img{height: 113px; width: 240px; padding-right: 20px;}
.header :nth-child(3){float: right; }
.header input{width: 533px; height: 44px; border-radius: 20px; border: 2px solid rgb(43, 130, 245); padding-left: 22px; }
.header input:focus{outline: none;}
.header form i { position: absolute; right: 16px; top: 8px; color: rgb(43, 130, 245);}
.header span i {color: rgb(43, 130, 245); padding: 14px; margin-top: 16px; margin-right: 10px;}
.search-tag{position: relative;}

.regist {
   position: absolute;
   top: 0;
   right: 20px;
   padding: 12px;
}
.regist a {text-decoration:none; color: rgb(0, 0, 0);}
/* </style>

<style> */
@media screen and (max-width:1200px)
{
   .header img{height: 113px; width: 170px; padding-right: 20px;}
   .header input{width: 333px; height: 30px; border-radius: 20px; border: 2px solid rgb(43, 130, 245); padding-left: 22px; }
   .header span i {color: rgb(43, 130, 245); padding: 14px; margin-top: 16px; margin-right: 10px; font-size: 30px;}
   .icon-set{padding-top: 10px;}
   .search-tag i{ font-size: 15px;}
   .category span{font-size: 13px;  vertical-align: middle;}



}

/* </style>

<style> */
@media screen and (max-width: 769px)
{ 
   .icon-set i{ display: none;}
   .regist{ margin-right: 150px;}
}
/* </style>

<style> */
@media screen and (max-width: 506px)
{ 
   .icon-set i{ display: none;}
   .header input{width: 200px; height: 24px; border-radius: 20px; border: 2px solid rgb(43, 130, 245); padding-left: 22px; }
   .search-tag i{ font-size: 10px;}


}
.login-btn {
   position: absolute;
   top: 40px;
   right: 0px;
   font-weight: bold;
}
.btn1 {
   color: rgb(85, 115, 154);  
}
.btn2 {
   color: rgb(255, 255, 255);
}
.loginbtn {
   font-weight: bold;
}
.joinbtn {
   color: rgb(255, 255, 255);
   font-weight: bold;
}
.joinbtn:hover {
   color: rgb(255, 255, 255);
}

.category-page {
   display: inline-block;
}

.visible {
   margin-bottom: 10px;
}
.open-btn {
   width: 202.5px;
   height: 40px;
   background-color: #fff;
}
.btn-icon {
   margin-right: 10px;
   color: rgb(135, 177, 232);
}
.btn-title {
   font-weight: 700;
   color: rgb(85, 115, 154);
}
.click-visible {
   position: absolute;
   top: 40px;
   left: 15px;
   display: none;
   width: 606px;
   height: 404px;
   z-index: 100;
   overflow: hidden;
}
.category-block {
   position: absolute;
   width: 606px;
   height: 404px;
   border: 2px solid rgb(135, 177, 232);
   box-sizing: border-box;
   z-index: 1;
}
.category-list {
   position: relative;
   width: 200px;
   height: 400px;
   z-index: 100;
   background-color: rgb(135, 177, 232);
   font-weight: 500;
}

.list-item {
   display: block;
   text-align: center;
   border-bottom: 1px solid #fff;
   box-sizing: border-box;
   text-decoration: none;
}

.list-item > .link-1th-item {
   position: relative;
   display: inline-block;
   width: 200px;
   height: 40px;
   line-height: 40px;
   color: #fff;
}



.list-item a:hover {
   color: rgb(135, 177, 232);
   text-decoration: none;
   background-color: #fff;
}
.list-item a:focus {
   text-decoration: none;
}


.link-1th-item > span, .link-2th-item > span {
   position: absolute;
   right: 0;
   top: 0;
   width: 40px;
   height: 40px;
   line-height: 40px;
}
.box-2th-item {
   display: none;
   position: absolute;
   left: 200px;
   top: 0;
   width: 400px;
   height: 400px;
   border-left: 1px solid rgb(135, 177, 232);
   background-color: white;
   box-sizing: border-box;
}
.middle-con {
   display: block;
   position: absolute;
   left: 200px;
   top: 0;
   width: 400px;
   height: 400px;
   border-left: 1px solid rgb(135, 177, 232);
   background-color: white;
   box-sizing: border-box;
}

.link-2th-item {
   position: relative;
   display: block;
   width: 200px;
   height: 40px;
   line-height: 40px;
   color: rgb(85, 115, 154);
   font-size: 12px;
   font-weight: 500;
   z-index: 0;
}

.link-2th-item:hover {
   background-color: rgb(135, 177, 232);
   color: white;
}
.link-2th-item-active {
   background-color: rgb(135, 177, 232);
   color: #fff;
   display: block;
   width: 100%;
   height: 40px;
   line-height: 40px;
   font-size: 12px;
   font-weight: 500;
   z-index: 100;
}
.box-3rd-item {
   display: none;
   position: absolute;
   left: 200px;
   top: 0;
   width: 200px;
   height: 400px;
   /* border-left: 1px solid rgb(85, 115, 154); */
   background-color: white;
   box-sizing: border-box;
}
.small-con {
   display: block;
   position: absolute;
   left: 200px;
   top: 0;
   width: 200px;
   height: 400px;
   border-left: 1px solid rgb(85, 115, 154);
   background-color: white;
   box-sizing: border-box;
   overflow: auto;
}

.link-3rd-item {
   display: block;
   width: 100%;
   height: 40px;
   line-height: 40px;
   color: rgb(85, 115, 154);
   font-size: 12px;
   font-weight: 500;
}
.link-3rd-item-active {
   background-color: rgb(135, 177, 232);
   color: #fff;
}