<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tigerWhale.reply.mapper.ReplyMapper">
  
  	<insert id="regist">
		insert into replyBoard(orderNum, bno,  user_ID, reply)
		values (#{orderNum}, #{bno}, #{user_ID}, #{reply})
  	</insert>
  	
  	<select id="getList" resultType="ReplyBoardVO">
  		<![CDATA[
		select *
		from (
		    select @rownum := @rownum + 1 rn,
		           a.*,
		           case when gap <= 60 then '방금전'
		                when gap <= 60 * 24 then concat(truncate(gap / 60, 0), '시간전')
		                else date_format(replyDate, '%Y-%m-%d')
		           end as timegap
		    from (
		         select bno,
		                rno,
		                reply,
		                replyId,
		                replyDate,
		                updateDate,
		                truncate( (now() - replydate) / 60 , 0  ) as gap
		         from replyBoard where bno = #{bno} order by rno desc
		    ) a
		) b , (select @rownum := 0 ) c
		where rn > (#{cri.pageNum} - 1) * #{cri.amount} and rn <= #{cri.pageNum} * #{cri.amount}
		]]>
  	</select>
  	
  	<select id="getTotal" resultType="int">
  		select count(*) as total from replyBoard where bno = #{bno}
  	</select>
  	
  	
  	
  	
  	<select id="pwCheck" resultType="int">
  		select count(*) as count 
  		from replyBoard where orderNum = #{orderNum} and user_ID = #{user_ID}
  	</select>
  	
  	<update id="update">
  		update replyBoard
  		set reply = #{reply},
  			R_updateDate = now()
  		where orderNum = #{orderNum}
  	</update>
  	
  	<delete id="delete">
        delete
        from replyBoard
	where orderNum = #{orderNum}
    </delete>
  	
  	 <insert id="customer">
		insert into CUSTOMERBOARD(rno, bno, user_ID, money)
		values (#{rno}, #{bno}, #{user_ID}, #{money})
  	</insert>
  </mapper>