<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.tigerWhale.faq.mapper.FaqMapper">
  		
  		
  		
  		
   <update id="replyForm">
   	<!-- faqController.?? (FAQ게시판 리플 조회) -->
  		UPDATE FAQBOARD as sbbh
  		   SET
  				 reply = #{reply},
  				 replydate = SYSDATE()
  		 WHERE bno = #{bno}
   </update>
   
  		
  		
  	<insert id="regist">
  		<!-- faqController.regist (FAQ게시판 글 작성) -->
  		INSERT INTO FAQBOARD as sbbb(
			
			title,
			writer,
			content
		) VALUES (
			#{title},
			#{writer},
			#{content}
		)
  	</insert>
   
   <!-- CDATA안에 들어가는 sql문을 순수한 문자열의 형태로 인식되도록 처리  -->
   <!-- if, choose는 jstl과 사용이 동일하고, test구문안에는 vo의 setter값이나 map의 key의 값이 들어갈 수 있습니다. -->
	<select id="getList" resultType="FaqVO">
		<!-- faqController.getList (FAQ게시판 목록 조회) -->
		
		<![CDATA[
   	select *
		  from (select @rownum := @rownum + 1 rn,
		             a.*
		          from (select *
		                  from FAQBOARD sbba
		                 where
		]]>
					<if test="searchType == 'title' ">title like '%'||#{searchName}||'%'</if>
					<if test="searchType == 'writer' ">writer like '%'||#{searchName}||'%'</if>
			        <if test="searchType == 'content' ">content like '%'||#{searchName}||'%'</if>
			        <if test="searchType == 'titcont' ">content like '%'||#{searchName}||'%' or title like '%'||#{searchName}||'%'</if>
					<if test="searchType == null or searchType == '' ">1 = 1</if>
		
		<![CDATA[            
		            order by bno desc) a
		) b, (select @rownum := 0 ) c
		where rn > (#{pageNum}-1) * #{amount} and rn <= #{pageNum} * #{amount}
		]]>		
   </select>
		
		
		
	

   <!-- 전체게시글 수 -->
   <select id="getTotal" resultType="int">
   		SELECT COUNT(*) AS total 
   		  FROM FAQBOARD as sbba
   		  
   		  <!-- 아래 변경구간 -->
   		  
   		  <!-- bno = #{bno} -->
   		  
   		  
   		 WHERE 
   		    		<if test="searchType == 'title' ">title like '%'||#{searchName}||'%'</if>
		<if test="searchType == 'writer' ">writer like '%'||#{searchName}||'%'</if>
		<if test="searchType == 'content' ">content like '%'||#{searchName}||'%'</if>
		<if test="searchType == 'titcont' ">content like '%'||#{searchName}||'%' or title like '%'||#{searchName}||'%'</if>
		<if test="searchType == null or searchType == '' ">1 = 1</if>
   		
   		
   </select>
   
   
   <select id="getDetail" resultType="FaqVO">
   		select * from FAQBOARD as sbbn where bno = #{bno}
   </select>
   
   <update id="update">
   		update FAQBOARD as sbbk
   		set title = #{title},
   			content = #{content},
   			updatedate = sysdate()
   		where bno = #{bno}
   </update>
   
   <delete id="delete">
   		DELETE FROM FAQBOARD sbbm WHERE bno = #{bno}
   </delete>
   
   
   
  </mapper>
  
  
  